@charset "utf-8";

/* CSS Document */
.name / Класс для имени игрока/
{
    font-size:20px; / Размер шрифта/
    text-align:center; / Выравнивание текста по центру/
    border-style:solid; / Монотонная рамка/
    border-radius:5px; / Скругление рамки на 5 пикселей/
    background-color:rgb(132,83,34);  / Коричневый цвет заливки/
    padding:3px; / Отступы текста от рамки на 3 пикселя/
    color:#FFF; / Белый цвет текста /
}
.mess / Класс для обычных сообщений игрока/
{
    font-size:20px; / Размер шрифта/
    color:#FFF;  / Белый цвет текста /
}
.mess2 / Класс для сообщений в зеленой рамочке/
{
    text-align:center;/ Выравнивание текста по центру/
    border-style:solid;/ Монотонная рамка/
    border-radius:5px; / Скругление рамки на 5 пикселей/
    background-color:rgb(0,153,102); / Зеленый цвет заливки/
    padding:3px; / Отступы текста от рамки на 3 пикселя/
    color:#FFF; / Белый цвет текста */
}