<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.filigrani.ghostgame"
    versionCode = "10"
    version     = "2.0.0" >

  <icon src="icon.png" />

  <name>Ghost And Sword</name>

  <description>
      Ghost in dungen
  </description>

  <author href="https://filigrani.github.io" email="filigrani@gmail.com">
      Filigrani
  </author>

</widget>

